.resource-card {
  margin-top: 32px;
}

.resource-card h3 {
  border-bottom: 1px solid;
  border-bottom-color: rgba(0,0,0, 0.1) !important;
  padding-bottom: 8px;
}

.route-table {
  font-size: 0.79em;
}
